@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*menubar*/
.menu-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    width: 300px;
    max-height: 600px;
    background: radial-gradient(circle at 10% 20%, rgb(215, 223, 252) 0%, rgb(221, 226, 230) 0%, rgb(215, 223, 252) 84%);
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
    overflow-y: auto;
    top: 100%;
    left: 50%;
    transform: translate(-85%, -8%);
    overflow-y: auto;
}

.menu-item {
    padding: 1rem;
    color: #000000;
    font-size: 1.2rem;
    transition: transform 0.3s ease;

}

.menu-item:hover {
    transform: scale(1.05);

}

.icon-menubar {
    display: flex;
    align-items: flex-start;
}

.icon-close-menubar {
    font-size: 1.5rem;
    color: #bbbaba;
}

.icon-close-menubar:hover {
    font-size: 1.8rem;
    color: rgb(22, 104, 170)
}

@media (max-width: 768px) {
    .menu-container {
        top: 100%;
        left: 0%;
        width: 200px;
        transform: translate(-85%, -8%);

    }
}

/*header*/
.header-content {
    background: radial-gradient(circle at 10% 20%, rgb(215, 223, 252) 0%, rgb(159, 196, 224) 0%, rgb(215, 223, 252) 84%);
}

.freq-medical-logo {
    display: none;
}

.connection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-icon {
    display: none;
    font-size: 3rem;
    cursor: pointer;
    color: rgb(22, 104, 170);
}

@media (max-width: 768px) {
    .freq-med-logo-header {
        display: none;
    }

    .header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .freq-medical-logo {
        display: block;
        margin-bottom: 0.7rem;
    }
}

/*footer*/
.propos-newsletter {
    display: flex;
    flex-direction: row;
    margin: none;
}

.propos,
.newsletter,
.freq-medicale-info,
.freq-medicale-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 25%;
    margin: 0 0.5rem;
}

.myfooter-title {
    font-size: 1.7rem;
    color: rgb(22, 104, 170);
    text-transform: uppercase;
    text-align: center;

}

.phone,
.location {
    display: flex;
    flex-direction: row;
}

.propos-lines {
    display: flex;
    align-items: center;

}

.dot-icon {
    font-size: 1rem;
    text-align: center;
}

.title-propos-line {
    font-size: 1rem;
    text-align: center;
}

.newsletter-btn,
.connection-form .se-connecter {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    background-color: rgb(22, 104, 170);
    color: #ffffff;
    border-radius: 5px;
}

.newsletter-btn:hover {
    border: 2px solid rgb(22, 104, 170);
    background-color: #f5f5f5;
    color: rgb(22, 104, 170);

}

.newsletter-container,
.propos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.propos-container {

    align-items: flex-start;

}

/*responsive propos-newsletter*/
@media (max-width: 768px) {
    .propos-newsletter {
        flex-direction: column;
    }

    .propos,
    .newsletter,
    .freq-medicale-info,
    .freq-medicale-desc {
        width: 100%;
        margin: 0.5rem;

    }
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: radial-gradient(circle at 10% 20%, rgb(215, 223, 252) 0%, rgb(159, 196, 224) 0%, rgb(215, 223, 252) 84%);
    padding: 10px;
}

.footer-part2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-icons {
    display: flex;
    margin-top: 1rem;
    gap: 10px;
    font-size: 1.5rem;
    color: rgb(22, 104, 170);
}

.social-icons Link {
    color: #333;
    font-size: 1.2rem;
}

.footer-text {
    color: rgb(22, 104, 170);
    font-size: 1rem;
}

/*responsive footer*/
@media (max-width: 768px) {
    .social-icons {
        font-size: 1.2rem;
    }

    .footer-text {

        font-size: 0.8rem;
    }
}


/*section1*/

.section1-container {
    background-image: url('/images/bghome.jpg');
    background-color: #f5f5f5;
    background-size: cover;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column
}

.section1-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-weight: 500;
}

.span-link {
    appearance: none;
    border: none;
    background-color: rgb(22, 104, 170);
    color: #f5f5f5;
    padding: 0.5rem;
    margin: 0.4rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.span-link:hover {
    background-color: #1f7ac8;
    transform: scale(1.05);
}

.options1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    width: 300px;
    max-height: 600px;
    background: radial-gradient(circle at 10% 20%, rgb(215, 223, 252) 0%, rgb(221, 226, 230) 0%, rgb(215, 223, 252) 84%);
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
    padding: 0.7rem;
    overflow-y: auto;
    top: 100%;
    left: 50%;
    transform: translate(130%, -290%);
    overflow-y: auto;
}

.options2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    width: 200px;
    max-height: 600px;
    background: radial-gradient(circle at 10% 20%, rgb(215, 223, 252) 0%, rgb(221, 226, 230) 0%, rgb(215, 223, 252) 84%);
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
    padding: 0.7rem;
    overflow-y: auto;
    top: 100%;
    left: 50%;
    transform: translate(130%, -500%);
    overflow-y: auto;
}

.specialities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    gap: 1.8rem;
    padding: 1rem;
}

.speciality {
    width: 25%;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #f5f5f5;
    border-radius: 5px;
    transform: perspective(600px) rotateX(5deg);
    transition: transform 0.3s;
    cursor: pointer
}

.speciality:hover {
    transform: perspective(600px) rotateX(0deg) translateY(-5px);
}

.speciality-image {
    width: 100%;
    max-height: 100px;
    object-fit: cover;
}

.speciality-name {
    margin: 0.5rem;
    font-weight: bold;

}

.mySearch {

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 2rem;
}

.SearchInput {
    width: 400px;
}

.search-btn,
.connect-btn {
    background-color: rgb(22, 104, 170);
}

.home-txt {
    margin-top: 3rem;
}

.txt-f1 {
    color: rgb(22, 104, 170);
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.txt-f3 {
    color: rgb(22, 104, 170);
    font-size: 1.7rem;
    font-weight: 600;
}

.SearchBar form {
    display: flex;
    flex-direction: row;

}

/*responsive code */
@media (max-width: 768px) {
    .options1 {
        transform: translate(-55%, -210%);
        width: 260px;
    }

    .options2 {
        transform: translate(-55%, -300%);
    }

    .section1-container {
        background-image: none;
        background-color: #ebe9e9;
        background-size: cover;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column
    }

    .section1-btn {
        flex-direction: column;
        align-items: center;
    }

    .span-link {
        margin: 0.4rem 0;
    }



    .speciality-name {
        margin: 0.3rem;
        text-align: center;


    }

    .speciality-name {
        margin: 0.3rem;
        font-size: 8px;
        text-align: center;
    }

    .home-txt {
        margin-top: 1rem;
    }

    .txt-f1 {
        color: rgb(22, 104, 170);
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }

    .txt-f3 {
        color: rgb(22, 104, 170);
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
    }

    .mySearch {
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        justify-content: center;
        margin-top: 1.5rem;
    }

    .SearchInput {
        width: 200px;
    }

    .specialities {
        flex-direction: column;
        align-items: center;
    }

    .speciality {
        width: 100%;
        margin-bottom: 1rem;
    }

}

/*connection form:*/

.connection-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(135deg, #f5f7fa, #e6e9ed);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    width: 600px;
}

.connection-form form {
    display: flex;
    flex-direction: column;
}

.connection-form .myinput {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.connection-form label {
    margin-bottom: 5px;
}

.connection-form input {
    padding: 10px;
    border: 1px solid rgb(146, 147, 148);
    border-radius: 4px;
    margin-bottom: 10px;
    transition: border-color 0.3s;
}

.connection-form input:focus {
    border-color: rgb(22, 104, 170);
}

.connection-form button:hover {
    border: 2px solid rgb(22, 104, 170);
    background-color: #f5f5f5;
    color: rgb(22, 104, 170);
}

.close-icon {
    background-color: #f5f5f5;
    color: rgb(22, 104, 170);
    font-size: 1.5rem;
    margin: 0.7rem 0.3rem;
    cursor: pointer;
}

.close-icon:hover {
    font-size: 2rem;
}

.others {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.other-way {
    font-size: 0.8rem;
    color: #333;
}

.other-way:hover {
    color: rgb(22, 104, 170);
    font-size: 1rem;
}

.icons {
    display: flex;
    justify-content: center;
    column-gap: 25px;
    margin-top: 0.5rem;
}

.icon {
    display: inline-flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: 2px solid #f5f5f5;
    color: #5f5f5f;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: 0.25s;
    margin: auto;

}

.icon:hover {
    outline-offset: 4px;
    animation: shake 0.25s;
}

.fb-icon:hover {
    color: #1f7ac8;
    outline: 2px solid #1f7ac8;
}

.twitter-icon:hover {
    color: #329fff;
    outline: 2px solid #329fff;
}

.mail-icon:hover {
    color: #DB4437;
    outline: 2px solid #DB4437;
}

.linkedin-icon:hover {
    color: #1f7ac8;
    outline: 2px solid rgb(22, 104, 170);
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }

}

/*responsive connection-forn*/
@media (max-width: 768px) {
    .connection-form {
        width: 90%;
        max-width: 400px;
    }

    .close-icon {
        font-size: 1.2rem;
    }

    .icons {
        column-gap: 15px;
    }
}

/*section2*/
.section2-container {
    display:flex;
    width:100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.mycontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 0.4rem;
    flex:0 0 25%;
    background-color: transparent;
    scroll-snap-align: start;
    animation: scroll 4s linear infinite;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    cursor: pointer;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.mynews {
    display: flex;
    align-items: center;
    justify-content: center;
}

.myimage-news {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

}

.myimage-news::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
    pointer-events: none;
    border-radius: 5px;
}


.image-conainer-post {
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
}

.mytxt-news {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: flex-start;
    justify-content: flex-start;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.post-title {
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    color: #dddddd;
}

.color-slider {
    font-size: 1rem;
    font-weight: 700;
    text-align: left;
    color: rgb(22, 104, 170);
}

.post-date {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0.7rem 0.3rem;
}

.date {
    font-size: 0.8rem;
    margin-left: 0.3rem;
    color: #dddddd;
}

.icon-date {
    font-size: 15px;
    color: #dddddd;

}
@media (max-width:1100px) {
    

    .mycontainer {
        width: 100%;
        margin: 0;
        justify-content: flex-start;
        scroll-snap-align: none;
    }

    .myimage-news::after {
        display: flex;
        align-items: center;
        justify-content: center;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
        pointer-events: none;
    }

    .mycontainer {
        width: 90%;
        margin: 6px auto;
    }

    .mycontainer .myimage-news {
        margin-bottom: 9px;
    }

    .mycontainer .mytxt-news .post-title {
        font-size: 0.8rem;
    }

    .mycontainer .mytxt-news .date {
        font-size: 0.7rem;
    }

    .mycontainer .mytxt-news .icon-date {
        font-size: 13px;
    }
}
@media (max-width: 768px) {
    .section2-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: auto;
        max-height: none;
        flex-direction: column;
        overflow: auto;
        width: 100%;
        height: 240px;
    }

    @keyframes scroll {
        0% {
            transform: none;
        }

        100% {
            transform: none;
        }
    }

    .mycontainer {
        width: 100%;
        margin: 0;
        justify-content: flex-start;
        scroll-snap-align: none;
    }

    .myimage-news::after {
        display: flex;
        align-items: center;
        justify-content: center;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
        pointer-events: none;
    }

    .mycontainer {
        width: 90%;
        margin: 6px auto;
    }

    .mycontainer .myimage-news {
        margin-bottom: 9px;
    }

    .mycontainer .mytxt-news .post-title {
        font-size: 0.8rem;
    }

    .mycontainer .mytxt-news .date {
        font-size: 0.7rem;
    }

    .mycontainer .mytxt-news .icon-date {
        font-size: 13px;
    }
}

/*section3*/
/*section3-container*/
.section3-container {
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
}

.left {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.title-fm {
    position: relative;
}

.title {
    position: relative;
    font-size: 1.7rem;
    color: rgb(22, 104, 170);
    text-transform: uppercase;
    text-align: center;
    margin-left: 5px;
}

.title::before,
.title::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 80px;
    height: 2px;
    background-color: rgb(22, 104, 170);
}

.title::before {
    left: -100px;
}

.title::after {
    right: -100px;
}

.act-link {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.685);
    text-align: center;

}

.act-link:hover {
    color: rgb(22, 104, 170);
}

.Actualites-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.post {
    width: 40%;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 0.5rem;
}

.act-link {
    margin-top: 10px;
}


.post .act-img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.act-description {
    font-size: 1rem;
    text-align: left;
    margin-top: 10px;
    line-height: 1.5;
    color: #333;
}

.right-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mytitle {
    width: 300px;
    max-width: 100%;
}

.small-title {
    font-size: 1.5rem;
    font-weight: 400;
    color: #333;
    text-decoration: underline;
    text-align: left;
}

.image-slider {
    margin-top: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.scroll-title {
    font-size: 1.2rem;
    text-align: center;
    margin: 0.7rem;
    font-weight: 500;
    color: #333;
}

.scroll-title:hover {
    color: rgb(22, 104, 170);
}

.read-more-button {
    appearance: none;
    border: none;
    background-color: rgb(22, 104, 170);
    color: #f5f5f5;
    padding: 0.5rem;
    margin: 0.4rem;
    cursor: pointer;
    border-radius: 5px;
}

/*responsive code for section3-container*/
@media (max-width: 768px) {
    .left {
        flex: 1;
        padding: 0;
    }

    .right {
        flex: 1;
        padding: 0;
    }

    .post {
        width: 90%;
        margin: 0.5rem auto;
    }

    .small-title {
        margin-top: 1.5rem
    }

    .title {
        font-size: 1rem;
        text-emphasis: center;
    }

    .title::before,
    .title::after {
        width: 80px;
    }

    .title::before {
        left: -80px;
    }

    .title::after {
        right: -80px;
    }

    .small-title {
        font-size: 0.7rem;
        margin-top: 1.5rem
    }

}

/*articles-part*/
.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 0.7rem;
    background-color: #f5f5f5;
}

.myarticle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 0 0 25%;
    padding: 10px;
    box-sizing: border-box;
}

.article-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}

.myarticle-title {
    width: 180px;
    height: 150px;

}

.article-title {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
}

.article-title:hover {
    color: rgb(22, 104, 170);
}

/*Decryptage-Clinique part*/
.clinique,
.sante {
    margin-top: 1.3rem;
}

.decryptage-clinique,
.parcours-sante,
.education-partenaires {
    display: flex;
    flex-wrap: wrap;
}

.decryptage,
.clinique,
.parcours,
.sante,
.education,
.partenaires {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 50%;
}

.decryptage-posts-container,
.clinique-posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 2rem;
}

.decryptage-posts,
.clinique-posts {
    width: calc(50% - 20px);
    max-width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-top: 2rem;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.title-decryptage-element,
.title-clinique-element {
    width: 170px;
    margin-top: 1rem;
}

.title-decryptage,
.title-clinique {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    text-align: center;
}

.title-decryptage:hover {
    text-decoration: underline;
    font-weight: 600;
}

.title-clinique:hover {
    text-decoration: underline;
    font-weight: 600;
}

/*responsive decryptage-clinique part*/
@media (max-width: 768px) {

    .decryptage,
    .clinique,
    .parcours,
    .sante,
    .education,
    .partenaires {
        width: 100%;
    }

    .decryptage-posts-container,
    .clinique-posts-container {

        margin: none;
    }

    .decryptage-posts,
    .clinique-posts {
        width: 100%;
        max-width: none;
        margin-top: 1rem;
    }
}

/*new congres part*/
.title-fm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.congres {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

.congres-post {
    display: flex;
    flex-direction: column;
}

.left-congres {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0.5 0.5rem;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.left-part1,
.left-part2 {
    display: flex;
    flex-direction: column;
}

.congres-articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0.5rem 0.7rem;
}

.congres-article {
    width: 33.33%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0.7rem;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.title-congres {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.title-congres:hover {
    color: rgb(22, 104, 170);
}

.title-congres-article {
    text-align: center;
    margin: 1.2rem;
    font-size: 0.8rem;
    font-weight: 500;
    color: #333;
}

.congres-article {
    width: 100%;
}

.title-congres-article:hover {
    text-decoration: underline;
    font-weight: 600;
    font-size: 1rem;
    color: rgb(22, 104, 170);
}

.right-congres {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.right-articles-congres {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.right-article-congre {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin: 0.5rem;
}

@media screen and (max-width: 480px) {

    .congres-post {
        align-items: center;
        flex-direction: column;
    }

    .left-congres,
    .right-congres {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .congres-articles {
        flex-direction: column;
        margin: 0;
        justify-content: center;
        align-items: center;
        margin: 0.5rem 0;
    }

    .right-articles-congres {
        flex-direction: column;
    }

    .title-congres-article {
        font-size: 0.7rem;
    }

    .right-article-congre {
        margin: 0.5rem 0;
    }
}

/*parcours-sante part*/
.title-parcours-element {
    width: 200;
}

/*education-partenaires part */
.education-partenaires {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.education {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    margin: 0.3rem;
}

.education-posts-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.education-posts {
    width: calc(50% - 20px);
    max-width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 0 0.3rem;
    margin-top: 2rem;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.partenaires {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    margin: 0 0.1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nos-partenaires {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.one-partenaire {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 20%;
    margin: 0.7rem;
}

.image {
    display: block;
    width: 60%;
    height: auto;
    border: 2px solid #a09e9e;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 50%;
    right: 0;
    transform: translateX(-50%); 
    background-color: #dfdfdf;
    overflow: hidden;
    width: 60%;
    height: 0;
    transition: .5s ease;
}

.one-partenaire:hover .overlay {
    bottom: 0;
    height: 100%;
}

.text {
    white-space: nowrap;
    color: rgb(22, 104, 170);
    font-size: 0.7rem;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/*responsive partenaires code*/
@media (max-width: 768px) {
    .education-posts-container {
        flex-direction: column;
    }

    .one-partenaire {
        flex-direction: column;
        position: relative;
        width: 100%;
        max-width: 200px;
        margin: 0.3rem 0;
    }

    .text {
        font-size: 0.9rem;
    }
    .education{
        margin:0;
    }
}
/*creer un compte button*/
.hidden{
    display:none;
}
.create-account {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(135deg, #f5f7fa, #e6e9ed);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    width: 800px;
    max-height: 600px;
    overflow-y: auto;
}

.first-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-bottom: 2px solid #dddddd;
}

.first-section h1 {
    font-size: 2rem;
    color: #333;
}

.close-acount-icon {
    font-size: 1.5rem;
    color: #333;
}

.close-acount-icon:hover {
    font-size: 1.7rem;
    color: rgb(22, 104, 170);
}

.utilisateur {
    border: 1px solid rgb(22, 104, 170);
    position: relative;
    padding:10px;
}

.utilisateur::before {
    content: "Utilisateur";
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    background: #f0f4f8;
    padding: 0 8px;
    font-weight: bold;
}

.input-acount {
    margin: 0 0;
}
.password-toggle-icon {
    position: absolute;
    top: 79%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
  }
.utilisateur input,
.utilisateur select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0.7rem 0;
}

.input-acount input:hover {
    border: 2px solid rgb(22, 104, 170);
}

.conditions {
    display: flex;
    flex-direction: column;
    margin: 0.7rem 0.5rem;
}

.conditions-account {
    display: flex;
    flex-direction: row;

}

.conditions-account p {
    font-size: 0.9rem;
    margin: 0;

}

.conditions-account input {
    font-size: 0.9rem;
    width: auto;
    margin: 0 0.5rem;
}

.validate-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.7rem;
}

.validate-btn button {
    width: 80%;

}
.form-input:valid{
    border: 2px solid green;
}
                               /*pwd verification*/
.error {
   
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }

@media (max-width: 768px) {
    .create-account {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: none;
        padding: 10px;
    }

    .utilisateur::before {
        top: -20px;
        font-size: 1rem;
        padding: 0 4px;
    }
}

/*section2-post1*/
.section2-post1 {
    background-color: #f5f5f5;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.left-post1 {
    flex: 2;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

}

.post1-title {
    font-size: 2.5rem;
    text-align: center;
    color: rgb(22, 104, 170);
    font-weight: 600;
}

.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.home-icon {
    color: rgb(22, 104, 170);
    font-size: 1.2rem;
    margin: 0 0.3rem;
}

.home-text {
    color: #7a7a7a;
    font-size: 1rem;
    font-weight: 500;
}

.post1-section1-left {
    font-size: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.7rem;
}

.mercredi-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0.5rem;
    width: 50%;
}

.mercredi-text h1:hover {
    color: rgb(22, 104, 170);
}

.mercredi-posts {
    display: flex;
    flex-direction: row;
    margin: 0.7rem 0;
}

.post1-description {
    display: flex;
    flex-direction: row;
}

.post1-description p {
    font-size: 0.8rem;
    color: #333;
}

.icon-desc {
    font-size: 0.8rem;
    color: #333;
    margin: 0.3rem;
}

.left-post1-btn {
    font-size: 1rem;
    margin: 1rem;
    width: 180px;
    height: 40px;
    text-align: center;
    background-color: rgb(22, 104, 170);
    color: #ffffff;
    border-radius: 6px;
}

.left-post1-btn:hover {
    border: 2px solid rgb(22, 104, 170);
    background-color: #f5f5f5;
    color: rgb(22, 104, 170);

}

.right-post1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    text-align: center;
    padding: 10px;
}

.mini-post-actualite {
    background: linear-gradient(135deg, #f5f7fa, #e6e9ed);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    margin-bottom: 0.5rem;
}

.mini-post-title {
    position: relative;
    margin-bottom: 0.5rem;
}

.mini-post-title h1 {
    position: relative;
    font-size: 2rem;
    text-emphasis: center;
    color: rgb(22, 104, 170);
    text-transform: uppercase;
    text-align: center;
}

.mini-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0.3rem;
}

.mini-post {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 0.5rem;
}

.actualite-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin:0.5rem;
}

.actualite-text h3 {
    text-align: left;
    margin-left: 0.3rem;
}

.actualite-text h3:hover {
    color: rgb(22, 104, 170);
}

.pagination {
    display: inline-block;
    margin-bottom: 0.7rem;
}

.number {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.active {
    background-color: rgb(22, 104, 170);
    color: white;
}

.number:hover:not(.active) {
    background-color: #b1afaf;
}

/*section2-post1 responsive:*/
@media (max-width: 768px) {
    .section2-post1 {
        flex-direction: column;
    }

    .left-post1 {
        flex: 1;
        width: 100%;

    }

    .right-post1 {
        width: 100%;

    }

    .post1-title {
        font-size: 1.7rem;
    }

    .home-icon {
        font-size: 0.8rem;
    }

    .home-text {
        font-size: 0.8rem;
    }

    .mercredi-posts {
        flex-direction: column;
        align-items: center;
        background: linear-gradient(135deg, #f5f7fa, #e6e9ed);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
        margin-bottom: 0.5rem;
    }

    .post1-description {
        justify-content: center;
    }

    .post1-description p {
        font-size: 0.8rem;
    }

    .icon-desc {
        display: none;
    }

    .image-conainer-post {
        width: 80%;
        margin: 0.5rem 0;
    }

    .mini-post {
        flex-direction: column;
        align-items: center;
    }

    .actualite-text {
        align-items: center;
    }

    .actualite-text h3 {
        text-align: center;
        margin-left: 0.3rem;
    }

    .left-post1-btn {
        font-size: 0.8rem;
    }

    .mercredi-text {
        text-align: center;
    }
}

/*podcast*/
.mypodcast {
    margin: 0.7rem 0;
    background: linear-gradient(135deg, #f5f7fa, #e6e9ed);
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

/*my acount code css*/

.deconnection{
    font-size: 0.9rem;
}
           /*section0*/
.section0-container{
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content: space-between;
    background: linear-gradient(135deg, #f5f7fa, #e6e9ed);
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
    padding:0.7rem;
}
.user-account-icon{
    color:rgb(22, 104, 170);
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 50%;
    outline: 2px solid #f5f5f5;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: 0.25s;
}
.user-account-icon:hover {
    outline-offset: 4px;
    animation: shake 0.25s;
    color: #1f7ac8;
    outline: 2px solid #1f7ac8;
}
@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }

}
.user-functions{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.function-icons{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 1.2rem;

}
.function-icon{
    color:rgb(22, 104, 170);
}
.account-menu-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    width: 300px;
    max-height: 2000px;
    background: radial-gradient(circle at 10% 20%, rgb(215, 223, 252) 0%, rgb(221, 226, 230) 0%, rgb(215, 223, 252) 84%);
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
    overflow-y: auto;
    top: 100%;
    left: 50%;
    transform: translate(-225%, -72%);
    overflow-y:auto;
    padding:1rem 0;
}
.account-searchbar{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
}
.input-account{
    width:100%;
    color:#333;
    background-color: #eeeeee;
    border:2px solid rgb(22, 104, 170);
    border-start-start-radius:8px;
    padding-left:5px;
}
.search-account-icon{
    background-color:rgb(22, 104, 170) ;
    color:#dddddd;
    text-align: center;
    padding:4px;
    height: 33px;
    border-end-end-radius: 8px;
}
.account-item{
    display:flex;
    flex-direction:row;
    align-items: center;
}
.menuaccount-icon{
    color:#525050;
    margin-right:0.3rem;
}
.account-txt{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.account-txt-f1{
    color:#3d3c3c;
    font-size:1.5rem;
    font-weight:500;
}
.account-txt-f3{
    color:#292828;
    font-size:1rem;
}
                    /*section0 responsive code*/
                    @media (max-width: 1100px) {
                        
                        
                        .account-menu-container {
                            width: 250px;
                            transform: translate(-210%, -72%);
                            
                        }
                    }            
@media (max-width: 768px) {
    .section0-container{
        padding:0.7rem 0;
        flex-direction:column;
        align-items:center;
        box-shadow:none;
    }
    .account-txt-f1{
        text-align:center;
    }
    .account-txt-f3{
       text-align:center;
    }
    .function-icons{
        margin-top: 0.7rem;
      
      }
    .function-icons:last-child{
      margin: 0;
    
    }
    .account-menu-container {
        width: 250px;
        transform: translate(-50%, -47%);
        
    }
}
.update-accoun{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(135deg, #f5f7fa, #e6e9ed);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    width: 800px;
    max-height: 600px;
    overflow-y: auto;
}
.create-account-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999; 
  }
  /*contact*/
.contact-container{
    display:flex;
    flex-direction: column;
    text-align:start;
    
    margin:0.3rem 2.5rem;
}
.contact-form{
    width:70%;
    display:flex;
    flex-direction: column;
   margin: 0 12rem;
}
.contact-input{
    display:flex;
    flex-direction: column;
margin-top:0.7rem;
}
.input-mycontact{
    width:70%;
    height:40px;
    padding:0.5rem;
    margin:0 0.5rem;
    border:1px solid rgb(22, 104, 170);
    border-radius: 6px;
}
.contact-btn{
    width:50%;
}
.validate-contact-btn{
    margin: 1rem 21rem;
}
.contact-text{
    font-weight: 500;
    margin:0.2rem 0;
}
@media (max-width: 768px) {
    .contact-container{
        
        text-align:center;
        justify-content: center;
        margin:0;
    }
    .contact-form{
        width:100%;
       margin:0;
    }
    .contact-input{
        
    margin-top:0;
    }
    .input-mycontact{
        width:100%;
        margin:0;
    }
    .contact-btn{
        width:50%;
    }
    .validate-contact-btn{
        margin:0;
    }
    .contact-text{
        font-weight: 500;
        margin:0.2rem 0;
    }
}